.addForm {
  background-color: var(--modal-bg);
  padding: 2rem;
  border-radius: 1rem;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  position: relative;
  color: var(--text-color);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.field {
  display: flex;
  flex-direction: column;
}

.input {
  padding: 0.75rem 1rem;
  background-color: var(--input-bg);
  color: var(--text-color);
  border: 1px solid var(--input-border);
  border-radius: 0.5rem;
  font-size: 1rem;
  transition: background-color 0.3s, color 0.3s;
}

.submitButton {
  padding: 0.75rem 1.2rem;
  font-size: 1rem;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.submitButton:hover {
  background-color: var(--primary-color-dark);
}

.closeButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.closeButton::after {
  content: "\00d7"; /* символ × */
  display: block;
  font-size: 2rem;
  color: var(--text-color);
  line-height: 1;
  text-align: center;
  transition: color 0.2s;
}

.closeButton:hover::after {
  color: #d11a2a;
}