.light {
  background-color: white;
  color: black;
  transition: background-color 0.3s ease;
}

.dark {
  background-color: black;
  color: white;
  transition: background-color 0.3s ease;
}

body.light {
  --modal-bg: #ffffff;
  --text-color: #1a1a1a;
  --input-bg: #f7f7f7;
  --input-border: #ccc;
  --primary-color: #007bff;
  --primary-color-dark: #0056b3;
}

body.dark {
  --modal-bg: #2b2b2b;
  --text-color: #f0f0f0;
  --input-bg: #3c3c3c;
  --input-border: #555;
  --primary-color: #4c9aff;
  --primary-color-dark: #267aff;
}
